<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.nightwhistler.pageturner"
      android:versionName="2.4.0_SNAPSHOT"
      android:versionCode="62"
      android:installLocation="auto">
    
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- BVApp-Comment: 05/Sep/2015: Changed icon for the BV app. Provided BV app icon for the "android:icon" property. -->
    <application
        android:name="net.nightwhistler.pageturner.PageTurner"
        android:description="@string/app_desc"
        android:icon="@mipmap/bv_app2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        >
        
        <receiver android:name=".activity.MediaButtonReceiver" >
        	<intent-filter android:priority="10000" >
            	<action android:name="android.intent.action.MEDIA_BUTTON" />
        	</intent-filter>
    	</receiver>

        <activity
            android:name="org.nrjd.bv.app.activity.StartupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar.NoStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nrjd.bv.app.activity.LoginActivity"
            android:label="@string/login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.nrjd.bv.app.activity.RegisterActivity"
            android:label="@string/registration"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.nrjd.bv.app.activity.ResetPasswordActivity"
            android:label="@string/reset_password"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.nrjd.bv.app.activity.VerifyAccountActivity"
            android:label="@string/verify_account_details"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="net.nightwhistler.pageturner.activity.ReadingActivity"
            android:label="@string/app_name" >
            <!-- BVApp-Comment: 29/Nov/2015: Changed the application launch option to StartupActivity class. -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/epub+zip" />
                <data android:pathPattern=".*\\.epub" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="net.nightwhistler.pageturner.activity.PageTurnerPrefsActivity"
            android:label="@string/prefs" />
        <activity
            android:name="net.nightwhistler.pageturner.activity.LibraryActivity"
            android:label="@string/library" />
        <activity
            android:name="net.nightwhistler.pageturner.activity.FileBrowseActivity"
            android:label="@string/browse" />

        <activity
                android:name="net.nightwhistler.pageturner.activity.CatalogBookDetailsActivity"
                android:label="@string/book_details" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="epub" />
            </intent-filter>

        </activity>
        
        <activity
            android:name="net.nightwhistler.pageturner.activity.CatalogActivity"
            android:label="@string/download" />
        
        <activity
            android:name="net.nightwhistler.pageturner.activity.ManageSitesActivity"
            android:label="@string/pref_manage_sites" >
                   
        	<intent-filter>
           		<action android:name="net.nightwhistler.pageturner.activity.ManageSitesActivity" />
           		<category android:name="android.intent.category.DEFAULT" />
       		</intent-filter>
        </activity>        
        
        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
       
    </application>

</manifest>
